html {
	background-color: rgb(239, 170, 85);
}
body {
	font-size: 100%;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #333;
	width: 760px;
	background-color: #FFF;
	margin: 20px auto;
	padding: 2em 2em 4em 2em;
	border-radius: 5px;
}

header {
	display : flex ; 
	align-items: center ;
}


h1 {
	color: #ed3211 ;
	font-family: cursive;
	text-align: center;
	margin-top: 0;
	width: 200px;
	height: 50px;
	
}

#icon {
	width : 150px ; 
	height : auto ; 
	margin-right: 10px ;

}

h2 {
	color: #C88039;
}

h3 {
	color: #77b751;
}


fieldset {
	border: 1px solid #AAA;
	margin: 1em 0;
}
legend {
	font-size: 75%;
	text-transform: uppercase;
	color: #AAA;
}
fieldset div {
	margin-bottom: 0.5em;
}
div label {
	display: block;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 1em;
}

label.error {
	color: red;
	float: right;
}
label img {
	vertical-align: middle;
}
small {
	font-size: 70%;
}

#creditcard {
	width : 100px;
	height: auto;
}

#interac {
	width : 40px;
	height: auto;
}

#submittedPage {
	display: none;
	margin: 20px;
	padding: 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
}


